{% extends 'main.html' %}
{% load static %} {% block content %}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<a href="{% url 'home'%}" class="btn btn-info btn-sm">Continue shopping</a>
			</div>
			<div class="col-md-12 my-3 d-flex justify-content-between">
				<p>Items: {{order.get_cart_items}}</p>
				<p>Total: ${{order.get_cart_total}}</p>
				<a href="{% url 'checkout'%}" class="btn btn-primary btn-sm">Checkout</a>
			</div>
			<table class="table table-bordered col-md-12  mt-3">
				<thead>
					<tr>
						<th></th>
						<th>Item</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total</th>
					</tr>
				</thead>
                
				<tbody>
                    {% for item in items %}
					<tr>
						<td><img style="height: 200px;width:100%;" src="{{item.product.image.url}}" alt=""></td>
						<td>{{item.product.name}}</td>
						<td>${{item.product.price|floatformat:2}}</td>
						<td>{{item.quantity}}</td>
						<td>${{item.get_total}}</td>
					</tr>
					{% endfor %}
				</tbody>
                
			</table>
		</div>
	</div>
</div>
{% endblock%}
