{% extends 'main.html' %}
{% load static %}
{% block content %}
 <section id="head">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img class="head-img" src="{% static 'images/organic.png' %}" alt="" /></div>
                <div class="col-md-6 head-text">
                    <h6>BEST QUALITY PRODUCTS</h6>
                    <h1>Join the Organic Movement!</h1>
                    <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien.</p>
                    <button class="my-btn btn"><i class="fas fa-cart-arrow-down"></i> Shop Now</button>
                </div>
            </div>
        </div>
    </section>

    <section id="shiping">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="shipping-box">
                        <div class="box-icon"><i class="fas fa-truck"></i></div>
                        <div class="box-title">
                            <h3>Free Shipping</h3>
                            <p>above $5 only</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shipping-box">
                        <div class="box-icon"><i class="far fa-address-book"></i></div>
                        <div class="box-title">
                            <h3>Certified Organic</h3>
                            <p>100% guarantee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shipping-box">
                        <div class="box-icon"><i class="far fa-money-bill-alt"></i></div>
                        <div class="box-title">
                            <h3>Huge Savings</h3>
                            <p>at lowest price</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shipping-box">
                        <div class="box-icon"><i class="fas fa-recycle"></i></div>
                        <div class="box-title">
                            <h3>Easy Returns</h3>
                            <p>no questions asked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Best-selling">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 id="best">Best Selling Products</h1>
                    </div>
                </div>
                <div class="row">
                    {% for  product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="products">
                            <div class="product-img">
								<img style="
                                height:200px" class="p-0"src="{{product.image.url}}" alt="" />
							</div>
                            <div class="product-desc">
                                <div class="product-name pb-2"><a href="#" class="text-dark"><h4>{{product.name}}</h4></a></div>
								<div style="float: left;">
									<button data-product="{{product.id}}" data-action="add" class="btn btn-info btn-sm update-cart">Add to cart</button>
									<button class="btn btn-info btn-sm">View</button>
								</div>
                                <div class="product-price">
                                    <h5>${{product.price}}</h5>
								</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}